body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.blog-header {
  background: #eaf7f7;
  color: #333;
  text-align: center;
  padding: 20px;
}

.blog-header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #00796b;
}

.blog-header .meta-info {
  font-size: 0.9rem;
  color: #666;
}

.blog-header .author-info span {
  color: #2a7e7e;
  font-weight: bold;
}

.logo {
  width: 50px;
  height: 50px;
}

.banner {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1584px;
  height: auto;
}

.table-of-contents {
  margin: 20px auto;
  padding: 15px;
  max-width: 900px;
  background-color: #e6f7f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-of-contents h2 {
  margin-top: 0;
  color: #00796b;
  font-size: 1.5em;
}

.table-of-contents ul {
  list-style: disc;
  padding-left: 20px;
}

.table-of-contents ul li {
  margin: 8px 0;
}

.table-of-contents ul li a {
  text-decoration: none;
  color: #00796b;
  font-weight: bold;
}

.table-of-contents ul li a:hover {
  text-decoration: underline;
}

.content {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

section h2 {
  color: #00796b;
  font-size: 1.8em;
  margin-bottom: 10px;
}

section img {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #e0f7f4;
  color: #00796b;
}

/* Social Media Buttons */
.social-media {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #00796b; /* Matching theme */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.social-media a img {
  width: 24px;
  height: 24px;
}

.social-media a:hover {
  background-color: #004d40;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
